
DB_HOST=localhost
DB_PORT=3306
DB_USER=vet_app
DB_PASSWORD=App@Vet2024!
DB_NAME=clinica_veterinaria


DB_ADMIN_USER=vet_admin
DB_ADMIN_PASSWORD=Admin@Vet2024!


PORT=3001

MONGO_URI=mongodb://localhost:27017/clinica_veterinaria
